* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
    --text-light: #f0f2fa;
    --background-white: #f6f5ff;
    --background-dark: #0a0040;
    --primary-color: #6143ff;
}

a.nav-link {
    font-size: 30px;
}

.table-action {
    padding: 0px 10px;
    cursor: pointer;
}

